@font-face{
	font-family: digital;
	src:url(digital.ttf);
}
*{
	margin: 0;
	padding: 0;
}
body{
	background: #051622;
	height: 100vh;
	overflow: hidden;
	transition: .5s ease;
}
nav{
	height: 80px;
	/*margin-bottom: 20px;*/
}
header {
	width: 100vw;
	height: 20%;
	display: flex;
	position: relative;
	align-items: center;
	flex-direction: column;
}
header:before {
	content: "";
	width: 100%;
	z-index: -1;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

header nav {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	margin-top: 30px; 
}
footer {
	clear: both;
	text-align: center;
	position:absolute;
	left: 0;
	bottom:0;
	padding: 20px;
	width:100%;
	height:60px;
}
.copyright{
	font-family: Comfortaa, cursive;
	color: #FAFAFA;
	text-shadow: 4px 4px 10px #3fe0d0, -2px -2px 10px #051622;
}
.copyright-light{
	color: #1d2951;
	text-shadow: 4px 4px 10px #3fe0d0, -2px -2px 10px #051622;
}

/*Button Dark/Light Mode*/
button{
	border-radius: 50px;
	border: none;
	background-color: #d9d9d9;
	height: 40px;
	width: 120px;
	right: 46.5em;
	margin-top: 2em;
	position: absolute;
}
.container{
	/*position: absolute;*/
	top: 50%;
	left: 50%;
}
.button{
	position: absolute;
	right: 50px;
	top: 40px;
	transform: translateY(-50%);
	height: 40px;
	width: 130px;
	border-radius: 5px;
}
.center{
	position: absolute;
	top: 50%;
	left: 28%;
	height: 24px;
	width: 48px;
	border-radius: 20px;
	transform: translate(-50%, -50%);
}
.center input{
	position: relative;
	height: 100%;
	width: 100%;
	background: #e6e6e6;
	border-radius: 20px;
	outline: none;
	cursor: pointer;
	transition: .5s;
	-webkit-appearance: none;
	box-shadow: inset 0 0 5px rgba(0,0,0,.2);
}
input:before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	height: 24px;
	width: 24px;
	border-radius: 20px;
	background: linear-gradient(#fff,#f2f2f2,#e6e6e6,#d9d9d9);

}
input:checked{
	background: #000;
}
input:checked:before{
	left: 24px;
}

.active{
	background: #ffffff;
	color: white;
}

/*Particle JS*/
#particles-js{
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

/*Clock*/
.clock{
	position: absolute;
	top: auto;
	left: auto;
	transform: translateY(-50%);
	height: 40px;
	width: auto;
	font-size: 40px;
	padding: 0px 5px 0px 5px;
	font-family: digital;
	color: #3fe0d0;
	font-style: oblique;
	text-shadow: 4px 4px 10px #3fe0d0, -2px -2px 10px #051622;
}
.light{
	/*color: #4c516d;*/
	color: #1d2951;
}

@media only screen and (max-width: 900px){
	.clock{
		font-size: 20px;
	}
	.button{
		width: auto;
		right: 60px;
		top: 50px;
	}
}
@media only screen and (max-width: 400px){
	.clock{
		font-size: 27px;
		width: auto;
		left: auto;
		top: auto;
	}
	.button{
		width: auto;
		right: 40px;
		top: 40px;
	}
}