/* Theme */

main {
	color: #FAFAFA;
	text-shadow: 4px 4px 10px #3fe0d0, -2px -2px 10px #051622;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}

.main-light{
	color: #1d2951;
	text-shadow: 4px 4px 10px #3fe0d0, -2px -2px 10px #051622;
}

.icons-social-light a{
	color: #051622;
	fill: #051622;
}